<section class="vh-100" style="background-color: #eee;">
  <div class="header">
    <div><%= "Header is here." %></div>
    <div><%= link_to "Log out", destroy_user_session_path, method: :delete %></div>
  </div>
  <div class="main-container">
    <div class="container-fluid	board">
      <%= render partial: 'rooms/nine_rooms', locals: { rooms: @rooms } %>
    </div>
    <div class="chat-container" id="messages">
      <% unless @messages.nil? %>
        <%= render @messages %>
      <% end %>
      <%= label_tag :content, 'Say something:' %>
      <%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>
    </div>
  </div>
  <%#= render "games/board" %>
</section>
