<%= audio_tag("addRing.mp3", id:"add-ring-mp3") %>
<%= audio_tag("yourTurn.mp3", id:"your-turn-mp3") %>

<section class="vh-100" style="background-color: #eee;">
  <div id="in_room" data-room_id="<%= @room.id %>">
    <%= render "header" %>
    <div class="main-container">
      <div class="container-fluid	board">
        
        <div class="table-wrapper">
          <div class="table-container d-flex justify-content-center">
            
            <div class="svg-table-container">
              <%= render "table" %>
            </div>

            <div class="buttons-row">
              <div class="join-buttons-container">
                <%= button_tag("参加", class: "btn btn-lg btn-join btn-join-1", id: "btn-join-1", data: { seat: "1", user_id: "" }) %>
                <%= button_tag("参加", class: "btn btn-lg btn-join btn-join-2", id: "btn-join-2", data: { seat: "2", user_id: "" }) %>
                <%= button_tag("参加", class: "btn btn-lg btn-join btn-join-3", id: "btn-join-3", data: { seat: "3", user_id: "" }) %>
                <%= button_tag("参加", class: "btn btn-lg btn-join btn-join-4", id: "btn-join-4", data: { seat: "4", user_id: "" }) %>
              </div>
              <div class="buttons-right-container">
                <%= button_tag("観戦", class: "btn btn-lg btn-decline", id: "btn-decline") %>
                <%= button_tag("開始", class: "btn btn-lg btn-start-game", id: "btn-start-game") %>
              </div>
            </div>

          </div>
        </div>
        <%= render "board" %>
        <%= button_tag("パス", class: "btn btn-lg btn-pass", id: "btn-pass") %>
        <%= button_tag("リセット", class: "btn btn-lg btn-reset", id: "btn-reset") %>

      </div>
      <%= render "user_chat_bar" %>
    </div>
  </div>
</section>
